.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Text {
  margin-right: 15px;
  margin-left: 10px;
  font-size: 20px;
  line-height: 1.17;
  background: -webkit-linear-gradient(#00d4ff, #5773f6);
  -webkit-text-fill-color: transparent;
}
